# Exclude all files, then include in only the required ones, or by hand
*
!scripts/
!scripts/*/
!src/
!src/*/

!src/wvfm_osc/lut
!src/wvfm_osc/sv

# Allow for gitignore files
!.gitignore

# Allow for readme files
!/README.md

# Allow for Verilog and System Verilog files
!*.sv
!*.v
!*.vh

# Allow for Matlab files
!*.m

# Allow for C++ and hex files
!*.cpp
!*.hex

# Explicitly ignore project files
*.qpf
*.qsf
*.qws