# Exclude all files, then include in only the required ones, or by hand
*

# Allow scripts
!scripts/
!scripts/*/

# Allow source directory
!src/
!src/device/
!src/device/submodules/
!src/includes/
!src/midi/
!src/dispatcher/
!src/pipeline/
!src/mixer/

!src/*/lut/

!src/*/tests/
!src/*/tests/simulation/
!src/*/tests/synthesis/

# Allow for gitignore files
!.gitignore

# Allow for readme files
!/README.md

# Allow for Verilog and System Verilog files
!*.sv
!*.v
!*.vh

# Allow for Altera IP files
!*.qip

# Allow for Matlab files
!*.m

# Allow for C++ and hex files
!*.cpp
!*.hex

# Allow for memory files
!*.vm

# Allow for project assignment files
!*.qsf